.form {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 24px;
    max-width: 600px;
    margin: 0 auto;
}

.labelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #4c4c4c;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    font-size: 24px;
    line-height: 1.5;
    color: #4c4c4c;
    padding: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 350px;
    height: 64px;
}

.input.invalid {
    border-color: #ff4444;
}

.input.valid {
    border-color: #00C851;
}

.button {
    background-color: #00C851;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: 16px;
    cursor: pointer;
}

.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.noteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.note {
    font-size: 16px;
    text-align: center;
    color: #4c4c4c;
}




.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0077FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.modal button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0077FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.modal h2 {
    margin-bottom: 20px;
}

.container {
    margin-top: 10%;
}